.band {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

}

@media only screen and (min-width: 650px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
