{% extends "index.html" %}
{% block noindex %}<meta name="robots" content="noindex">{% endblock %}
{% block navigation %}
     <div class="navigation">
        <ol class="nav">
          <li><a href="{{ SITEURL }}">Blog</a> </li>
          <li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
          <li><a href="{{ SITEURL }}/tags.html">Tags</a> </li>
          <li><a href="{{ SITEURL }}/{{ FEED_RSS }}">RSS</a> </li>
        </ol>
      </div>
    {% endblock navigation %}
{% block title %}{{ SITENAME }} - автор: {{ author }}{% endblock %}
{% block content_title %}
<h2>Автор: {{ author }}</h2>
{% endblock %}

